<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product List</title>
</head>
<body>
<h1>Clothes List</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>Clothes Name</th>
      <th>Clothes Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${clothes}">
      <td th:text="${item.name}"></td>
      <td th:text="${item.price}"></td>
      <td>
        <form th:action="@{/api/clothes/register}" method="post">
          <input type="hidden" th:value="${item.id}" name="itemId"/>
          <input type="number" name="itemPrice" value="1" min="1" max="100"/>
          <button type="submit">추가</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
