<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>

<body>
<form action="/login" method="post" class="login-form">
  <section class="login-section">
    <h3 class="login-title">로그인</h3>
    <div class="input-wrapper">
      <input type="email" placeholder="이메일" class="input email-input" name="email">
    </div>
    <div class="input-wrapper">
      <input type="password" placeholder="비밀번호" class="input password-input" name="password">
    </div>
    <button type="submit" class="login-button">로그인</button>
    <div class="other-button">
      <a href="/find-id">아이디 찾기</a>
      <a href="/find-pw">비밀번호 찾기</a>
      <a href="/signup">회원가입</a>
    </div>
  </section>
</form>
</body>

</html>