<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <script src="https://kit.fontawesome.com/08edd7b20e.js" crossorigin="anonymous"></script>
    <title>회원가입</title>
</head>

<body>
<form action="/signup" method="post" class="signup-form">
    <h3 class="signup-title">회원가입</h3>

    <!-- 이름 -->
    <div class="input-wrapper">
        <i class="fa-regular fa-user icon name-icon"></i>
        <input type="text" placeholder="이름" name="name" required class="input name-input">
    </div>

    <!-- 이메일 -->
    <div class="input-wrapper">
        <i class="fa-solid fa-envelope icon email-icon"></i>
        <input type="email" placeholder="이메일" name="email" required class="input email-input">
    </div>

    <!-- 비밀번호 -->
    <div class="input-wrapper">
        <i class="fa-solid fa-key icon password-icon"></i>
        <input type="password" placeholder="비밀번호" name="password" required class="input password-input">
    </div>

    <!-- 제출 버튼 -->
    <button type="submit" class="submit-button">가입하기</button>

    <p class="login-return-button">이미 회원이신가요? <a href="/users/login" class="login-return-tag">로그인으로 돌아가기</a></p>
</form>
</body>

</html>
