<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>대세다 리뉴얼</title>
</head>

<body>
대세다 리뉴얼 (자동 배포 테스트)
<th:block th:if="${session.LOGIN_USER == null}">
  <a th:href="@{/users/login}">로그인</a>
  <a th:href="@{/users/signup}">회원가입</a>
</th:block>

<th:block th:if="${session.LOGIN_USER != null}">
  <a th:href="@{/addresses/form}">주소 등록</a>
  <a th:href="@{/addresses/list}">주소 리스트</a>
  <a th:href="@{/users/logout}">로그아웃</a>
  <a th:href="@{/users/my-page}">마이페이지</a>
  <a th:href="@{/cart/list}">장바구니</a>
  <a th:href="@{/products/list}">상품목록</a>
  <a th:href="@{/posts/list}">게시판 보기</a>
</th:block>
</body>

</html>